
build/
out/
bin/
obj/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/

*.exe
*.dll
*.lib
*.obj
*.o
*.pdb
*.ilk
*.exp

vault.dat
vault.dat.tmp

*.vault
*.bak

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.user
x64/
x86/
Debug/
Release/


.vscode/

*.tmp
*.temp
*.log